.containerTitle {
    background-color: #dbcbc0;
    padding: 22px;
    display: flex;
    text-align: center;
    font-family: fantasy;
    display: grid;
    font-size: 40px;
    justify-content: center;
    align-content: center;
}

.two-column-container {
    display: flex;
}

.left-column,
.right-column {
    flex: 1; /* Equal width for both columns */
    padding-left: 30px;
    padding-right: 30px;
}

.left-column {
    /* Styles for the left column */
}

.right-column {
    /* Styles for the right column */
}

.img-woman {
    width: 70%;
    height: auto;
}

.containerTitle2 {
    text-align: center;
}

body {
    font-size: large;
}
