.footer {
    background-color: #5e377f;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    flex: 1;
}

.sub-column {
    margin-top: 10px;
    padding-left: 10pt;
    float: right;
}

.logo-footer {
    width: 130px;
    height: auto;
}

.logo-socials {
    width: 70px;
    height: auto;
}
