img {
    height: auto;
    width: 100%;
}

.navbar {
    background-color: #f7f7f7;
    /* Fondo claro y minimalista */
    padding: 15px 45px;
    /* Más espacio para un diseño limpio */
    display: flex;
    justify-content: space-between;
    /* Espacio entre el menú y el botón de logout */
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para darle profundidad */
}

.navbar-button {
    color: #333;
    /* Texto en un gris oscuro */
    font-family: 'Roboto', sans-serif;
    /* Fuente sans-serif moderna */
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    /* Quita cualquier subrayado por defecto */
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
    display: block;
    /* Asegura que cada botón esté en su propia línea en móviles */
}

.navbar-button.active {
    color: #5D3780;
    font-weight: 700;
    /* Más grueso para destacar */
    border-bottom: 2px solid #5D3780;
    /* Línea de color bajo el enlace activo */
}

.navbar-button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #5D3780;
    /* Línea de color bajo el enlace */
    height: 2px;
    width: 0%;
    transition: width 0.3s ease;
}

.navbar-button:hover:after {
    width: 100%;
}

.navbar-button:hover {
    text-decoration: none;
    /* Asegura que no haya subrayado al hacer hover */
    color: #5D3780;
    /* Cambia el color al hacer hover */
}

.navbar a {
    cursor: pointer;
}

.navbar-logout a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-logout a:hover {
    color: #5D3780;
    text-decoration: none;
    /* Asegura que no haya subrayado al hacer hover */
}

/* Estilo del botón de hamburguesa */
.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    display: none;
    /* Oculto por defecto */
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar-menu.is-active {
    display: block;
    /* Muestra el menú cuando está activo en pantallas pequeñas */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: block;
        /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    }

    .navbar-menu {
        display: none;
        /* Ocultar el menú por defecto en pantallas pequeñas */
        width: 100%;
        flex-direction: column;
        padding-left: 10px;
        /* Agrega espaciado a la izquierda para mejorar la visualización */
    }

    .navbar-menu.is-active {
        display: block;
        /* Mostrar el menú al hacer clic en el botón de hamburguesa */
    }

    .navbar-button {
        padding: 10px 0;
        margin: 5px 0;
        width: 100%;
        text-align: left;
    }

    .navbar-button.active {
        border-bottom: none;
        /* Quita la línea de fondo para el estado activo en móviles */
        font-weight: 700;
        background-color: #f0e6fa;
        /* Fondo morado claro para resaltar el botón activo */
    }

    .navbar-logout {
        margin-top: 10px;
        width: 100%;
        text-align: left;
    }
}