img {
    height: auto;
    width: 100%;
}

.navbar {
    background-color: #f7f7f7;
    /* Fondo claro y minimalista */
    padding: 15px 45px;
    /* Más espacio para un diseño limpio */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para darle profundidad */
}

.navbar-button {
    color: #333;
    /* Texto en un gris oscuro */
    font-family: 'Roboto', sans-serif;
    /* Fuente sans-serif moderna */
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    /* Quita cualquier subrayado por defecto */
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-button.active {
    color: #5D3780;
    font-weight: 700;
    /* Más grueso para destacar */
    border-bottom: 2px solid #5D3780;
    /* Línea de color bajo el enlace activo */
}

.navbar-button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #5D3780;
    /* Línea de color bajo el enlace */
    height: 2px;
    width: 0%;
    transition: width 0.3s ease;
}

.navbar-button:hover:after {
    width: 100%;
}

.navbar-button:hover {
    text-decoration: none;
    /* Asegura que no haya subrayado al hacer hover */
    color: #5D3780;
    /* Cambia el color al hacer hover */
}

.navbar a {
    cursor: pointer;
}

.navbar-logout a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-logout a:hover {
    color: #5D3780;
    text-decoration: none;
    /* Asegura que no haya subrayado al hacer hover */
}

/* Responsividad mejorada */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-button {
        padding: 10px 0;
        margin: 5px 0;
    }

    .navbar-logout {
        margin-top: 10px;
    }
}