body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    max-height: 100%;
}

#app-container {
    height: 100%;
}

#app-base-layout {
    padding: 0em;
}

.saludo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.saludo-greeting {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.inicio_agregar {
    font-size: 1.25rem;
    font-weight: 450;
    margin-top: 2px;
}

.agregarc {
    font-size: 2.25rem;
    margin-top: -10px;
    font-weight: 500;
    text-align: left;
}

.agregarc,
.elegir_img,
.seleccionar,
.inicio_agregar,
.fecha,
.newCourse,
.newCourse_,
.newCourse_inpt,
.descripcion {
    padding-left: 20px;
}

.newCourse_inpt {
    position: absolute;
    font-size: 10px;
    margin-top: 80px;
    align-items: left;
    top: 180px;
    left: -190px;
    border-radius: 10px;
    border-width: 1.6px;
    border-color: #b3b3b3c9;
    width: 540px;
}

.description {
    position: absolute;
    top: 370px;
    left: 39px;
    border-radius: 10px;
    border-width: 1.6px;
    font-size: 10px;
    border-color: #b3b3b3c9;
    width: 560px;
    height: 200px;
}

.newCourse_inpt::placeholder {
    font-size: 16px;
    text-align: left;
    color: #7c7c7c;
    font-weight: 365;
    position: relative;
    top: -5px;
    left: -7px;
}

.description::placeholder {
    font-size: 16px;
    text-align: left;
    color: #7c7c7c;
    font-weight: lighter;
    position: relative;
    top: -80px;
    left: 10px;
}

.newCourse_,
.descripcion {
    align-items: left;
    font-size: 22px;
}

.newCourse_ input[type='text'] {
    font-size: 9px;
}

#newCourse,
#newCourse_ {
    font-size: 30px;
    font-weight: light;
    margin-left: 15%;
    font-family: var(--fuente);
}

.agregar {
    background-color: rgb(5, 174, 5);
    font-size: 20px;
    position: relative;
    left: 30.7%;
    top: 360px;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.seleccionar,
.elegir_img {
    position: absolute;
}

.seleccionar {
    top: 625px;
    left: 1.2%;
    cursor: pointer;
}

.elegir_img {
    top: 590px;
}

.fecha,
.cargo,
.modalidad {
    position: absolute;
    top: 670px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.fecha {
    left: 18px;
}

.cargo {
    left: 15%;
}

.modalidad {
    left: 30%;
}

.fecha_,
.cargo_,
.modalidad_ {
    position: absolute;
    top: 715px;
    width: 160px;
    height: 30px;
    border-radius: 6px;
    border-width: 1.65px;
    border-color: rgb(205, 205, 205);
}

.fecha_ {
    left: 2.4%;
}

.cargo_ {
    left: 14.9%;
}

.modalidad_ {
    left: 29.8%;
}

.agregar:hover {
    background-color: rgb(4, 137, 4);
}

.descripcion {
    margin-top: 80px;
    font-weight: 400;
}

.logo-der {
    position: absolute;
    top: 10%;
    right: 0;
    margin: 15px;
    width: 80px;
    height: 70px;
}

.btn_perfil {
    height: 65px;
    position: absolute;
    right: 70px;
}

.sidebar-button {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #777;
}

.grafica {
    margin-top: 1%;
    margin-left: 2px;
    width: 600px;
    height: 400px;
}

.personas_inscritas {
    margin-left: -160px;
    top: 120px;
}

.btn-info {
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    border: 1px solid #27b0c3;
    background-color: #27b0c3;
    color: white;
    font-size: 1.1rem;
}

.btn-info:hover {
    background: none;
    color: #27b0c3;
    cursor: pointer;
}
