.container-post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.post-content {
    font-size: 16px;
    line-height: 1.6;
}

.post-comment {
    padding: var(--padding-md);
    border: var(--bw-2) solid var(--c-bd-3);
    border-bottom-color: #666;
    border-radius: var(--border-radius);
}
.post-comment-row {
    flex-direction: row;
}
